body {
    background-color: rgb(165, 205, 218);
}

a:link, a:visited {
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    display: inline-block;
}
  
a:hover, a:active {
    background-color: #ffffff;
}
    

